:root {
  /* @radix-ui/colors violet */
  --mp-1: hsl(255, 65%, 99.4%);
  --mp-2: hsl(252, 100%, 99%);
  --mp-3: hsl(252, 96.9%, 97.4%);
  --mp-4: hsl(252, 91.5%, 95.5%);
  --mp-5: hsl(252, 85.1%, 93%);
  --mp-6: hsl(252, 77.8%, 89.4%);
  --mp-7: hsl(252, 71%, 83.7%);
  --mp-8: hsl(252, 68.6%, 76.3%);
  --mp-9: hsl(252, 56%, 57.5%);
  --mp-10: hsl(251, 48.1%, 53.5%);
  --mp-11: hsl(250, 43%, 48%);
  --mp-12: hsl(254, 60%, 18.5%);

  --mp-gray-1: hsl(0, 0%, 99%);
  --mp-gray-2: hsl(0, 0%, 97.3%);
  --mp-gray-3: hsl(0, 0%, 95.1%);
  --mp-gray-4: hsl(0, 0%, 93%);
  --mp-gray-5: hsl(0, 0%, 90.9%);
  --mp-gray-6: hsl(0, 0%, 88.7%);
  --mp-gray-7: hsl(0, 0%, 85.8%);
  --mp-gray-8: hsl(0, 0%, 78%);
  --mp-gray-9: hsl(0, 0%, 56.1%);
  --mp-gray-10: hsl(0, 0%, 52.3%);
  --mp-gray-11: hsl(0, 0%, 43.5%);
  --mp-gray-12: hsl(0, 0%, 9%);

  --mp: var(--mp-9);

  --mp-foreground: var(--mp-9);
  --mp-background: var(--mp-1);
}

.dark {
  /* @radix-ui/colors violetDark */
  --mp-1: hsl(250, 20%, 10.2%);
  --mp-2: hsl(255, 30.3%, 12.9%);
  --mp-3: hsl(253, 37%, 18.4%);
  --mp-4: hsl(252, 40.1%, 22.5%);
  --mp-5: hsl(252, 42.2%, 26.2%);
  --mp-6: hsl(251, 44.3%, 31.1%);
  --mp-7: hsl(250, 46.8%, 38.9%);
  --mp-8: hsl(250, 51.8%, 51.2%);
  --mp-9: hsl(252, 56%, 57.5%);
  --mp-10: hsl(251, 63.2%, 63.2%);
  --mp-11: hsl(250, 95%, 76.8%);
  --mp-12: hsl(252, 87%, 96.4%);

  --mp-gray-1: hsl(0, 0%, 8.5%);
  --mp-gray-2: hsl(0, 0%, 11%);
  --mp-gray-3: hsl(0, 0%, 13.6%);
  --mp-gray-4: hsl(0, 0%, 15.8%);
  --mp-gray-5: hsl(0, 0%, 17.9%);
  --mp-gray-6: hsl(0, 0%, 20.5%);
  --mp-gray-7: hsl(0, 0%, 24.3%);
  --mp-gray-8: hsl(0, 0%, 31.2%);
  --mp-gray-9: hsl(0, 0%, 43.9%);
  --mp-gray-10: hsl(0, 0%, 49.4%);
  --mp-gray-11: hsl(0, 0%, 62.8%);
  --mp-gray-12: hsl(0, 0%, 93%);
}

.marktion {
  --tw-shadow: 0 6px 15px 3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
    
  position: relative;
  border-radius: 0.375rem;
  background-color: var(--mp-1);
  padding-top: 48px;
  
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.marktion .lucide {
  height: 14px;
  width: 14px;
  margin-top: 1px;
}

.marktion .ant-btn-icon .lucide {
  margin-top: 4px;
}

.marktion-slash-menu .ant-dropdown-menu-item-icon {
  height: 14px;
  width: 14px;
}
