.marktion-themes .ProseMirror {
  blockquote {
    border-left: var(--space-1) solid var(--accent-a6);
    padding-left: var(--space-3);

    line-height: var(--line-height, var(--default-line-height));
    letter-spacing: var(--letter-spacing, inherit);  
  }
}
