.marktion-themes .ProseMirror {
  code {
    --code-variant-font-size-adjust: calc(var(--code-font-size-adjust) * 0.95);
    box-sizing: border-box;
    font-family: var(--code-font-family);
    font-size: calc(var(--code-variant-font-size-adjust) * 1em);
    font-style: var(--code-font-style);
    font-weight: var(--code-font-weight);
    line-height: 1.25;
    letter-spacing: calc(
      var(--code-letter-spacing) + var(--letter-spacing, var(--default-letter-spacing))
    );
    border-radius: calc((0.5px + 0.2em) * var(--radius-factor));

    padding: var(--code-padding-top) 0.25em var(--code-padding-bottom);
    background-color: var(--accent-a3);
    color: var(--accent-a11);
  }
}
