.marktion-themes .ProseMirror {
  img,
  video {
    max-width: 100%;
    height: auto;
  }

  ol,
  ul,
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  blockquote,
  table,
  ul,
  ol,
  dl,
  dd,
  figure,
  pre {
    margin: var(--space-4) 0;
  }

  p {
    margin: var(--space-3) 0;
  }

  a {
    cursor: var(--cursor-link);
    color: var(--accent-a11);
    border-radius: calc(0.07em * var(--radius-factor));

    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: min(2px, max(1px, 0.05em));
    text-underline-offset: calc(0.025em + 2px);
    text-decoration-color: var(--accent-a5);

    &:focus, &:hover {
      text-decoration-line: underline;
    }
  }
}
