.marktion-themes .ProseMirror {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font-family);
    font-style: var(--heading-font-style);
    --leading-trim-start: var(--heading-leading-trim-start);
    --leading-trim-end: var(--heading-leading-trim-end);
    line-height: var(--line-height);

    &:where([data-accent-color]) {
      color: var(--accent-a11);

      &:where(.rt-high-contrast) {
        color: var(--accent-12);
      }
    }
  }

  h1 {
    font-size: calc(var(--font-size-8) * var(--heading-font-size-adjust));
    --line-height: var(--heading-line-height-8);
    letter-spacing: calc(var(--letter-spacing-8) + var(--heading-letter-spacing));
  }
  h2 {
    font-size: calc(var(--font-size-7) * var(--heading-font-size-adjust));
    --line-height: var(--heading-line-height-7);
    letter-spacing: calc(var(--letter-spacing-7) + var(--heading-letter-spacing));
  }
  h3 {
    font-size: calc(var(--font-size-6) * var(--heading-font-size-adjust));
    --line-height: var(--heading-line-height-6);
    letter-spacing: calc(var(--letter-spacing-6) + var(--heading-letter-spacing));
  }
  h4 {
    font-size: calc(var(--font-size-5) * var(--heading-font-size-adjust));
    --line-height: var(--heading-line-height-5);
    letter-spacing: calc(var(--letter-spacing-5) + var(--heading-letter-spacing));
  }
  h5 {
    font-size: calc(var(--font-size-4) * var(--heading-font-size-adjust));
    --line-height: var(--heading-line-height-4);
    letter-spacing: calc(var(--letter-spacing-4) + var(--heading-letter-spacing));
  }
  h6 {
    font-size: calc(var(--font-size-3) * var(--heading-font-size-adjust));
    --line-height: var(--heading-line-height-3);
    letter-spacing: calc(var(--letter-spacing-3) + var(--heading-letter-spacing));
  }
}
