.marktion-themes .ProseMirror {
  --prose-counters: var(--gray-12);
  --prose-bullets: var(--gray-11);

  --checkbox-size: var(--space-5);
  --cursor-checkbox: pointer;

  ul, ol {
    padding-left: var(--space-5);
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ol > li::marker {
    font-weight: 400;
    color: var(--prose-counters);
  }
  ul > li::marker {
    color: var(--prose-bullets);
  }

  ul[role='task-list'], ol[role='task-list'] {
    list-style: none;
    padding-left: 0;
  }

  ul[role='task-list'] {
    margin: 0;
  }

  li[role='task-item'] {
    display: flex;
    align-items: flex-start;
    margin: var(--space-3) 0;
  }

  li[role='task-item'] [role='task-item-label'] {
    margin-right: var(--space-1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    user-select: none;
  }

  li[role='task-item'] div > p {
    margin: 0;
  }

  li[role='task-item'] [role='task-item-label'] input[type='checkbox'] {
    appearance: none;
    margin: 0;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    background-color: var(--gray-1);
    border: 2px solid var(--gray-12);
    border-radius: var(--radius-1);
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      width: 0.65em;
      height: 0.65em;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em;
      transform-origin: center;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  li[role='task-item'][data-checked] > div {
    color: var(--gray-11);
    text-decoration: line-through;
    text-decoration-thickness: 2px;
  }
}