html, body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
}

.marktion-editor > .wrapper-source > .cm-editor,
.marktion-editor > .wrapper-wysiwyg > .wysiwyg-editor {
  min-height: 400px;
}

.marktion-editor-wrapper {
  position: relative;
}

.marktion-editor-status-bar {
  position: absolute;
  top: 10px;
  right: 10px;
}

.marktion-article-list {
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
