html, body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
}

.marktion-themes .wrapper-source .cm-editor,
.marktion-themes .wysiwyg-editor {
  min-height: 400px!important;
}
