html, body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
}

.marktion-editor > .wrapper-source .cm-editor,
.marktion-editor > .wrapper-wysiwyg .wysiwyg-editor {
  min-height: 400px;
}
