@import './prose/reset.css';
@import './prose/blockquote.css';
@import './prose/heading.css';
@import './prose/list.css';
@import './prose/table.css';
@import './prose/hr.css';
@import './prose/inline.css';
@import './prose/code.css';

@import './plugins/slash.css';
@import './plugins/bubble.css';
@import './plugins/placeholder.css';

.marktion-themes .ProseMirror {
  min-height: var(--space-6);
  box-shadow: var(--shadow-6);
  padding: var(--space-4);
  border-radius: var(--radius-2);
  outline: none;
}
