registry=https://npm.corp.kuaishou.com
canvas_binary_host_mirror=https://npm.taobao.org/mirrors/node-canvas-prebuilt/
sharp_binary_host=https://npm.taobao.org/mirrors/sharp
sharp_libvips_binary_host=https://npm.taobao.org/mirrors/sharp-libvips
