.marktion-themes,
.marktion-themes *,
.marktion-themes *:before,
.marktion-themes *:after {
  /** Preserve box-sizing when override exists:
  * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  * */
  box-sizing: inherit;
}

.marktion-themes {
  position: relative;
  box-sizing: border-box;

  min-height: var(--space-10);
  box-shadow: var(--shadow-3);
  padding: var(--space-4);
  border-radius: var(--radius-2);
  
  overflow-wrap: break-word;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  font-style: var(--default-font-style);
  line-height: var(--default-line-height);
  letter-spacing: var(--default-letter-spacing);
  background-color: var(--color-panel);
  text-size-adjust: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.marktion-themes {
  .wrapper-wysiwyg,
  .wrapper-source {
    position: relative;
    display: none;
  }

  &[data-renderer='WYSIWYG'] .wrapper-wysiwyg {
    display: block;
  }
  
  &[data-renderer='SOURCE'] .wrapper-source {
    display: block;
    padding: calc(var(--space-4) - 4px) 0;
  }

  &.inline-style {
    .wysiwyg-editor {
      min-height: unset;
      box-shadow: none;
      padding: 0;
    }
  }
}
