@import './prose/reset.css';
@import './prose/blockquote.css';
@import './prose/heading.css';
@import './prose/list.css';
@import './prose/table.css';
@import './prose/hr.css';
@import './prose/inline.css';
@import './prose/code.css';

@import './plugins/ai.css';
@import './plugins/slash.css';
@import './plugins/bubble.css';
@import './plugins/linkBubble.css';
@import './plugins/placeholder.css';

.marktion-themes .wysiwyg-editor {
  outline: none;
}
