@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  @apply prose p-6 rounded-md relative shadow-lg border dark:prose-invert max-w-none;
}

.ProseMirror ul[data-type='taskList'] li {
  margin: 1.25em 0;
}

.ProseMirror ul[data-type='taskList'] li > div {
  display: inline-block;
  margin: 0;
}

.ProseMirror ul[data-type='taskList'] li label {
  margin-right: 8px;
}

.ProseMirror ul[data-type='taskList'] li p {
  margin: 0;
}

.ProseMirror .code-block {
  position: relative;
}

.ProseMirror .code-block .code-block-lang-select {
  position: absolute;
  top: -32px;
  right: 0;
}

.marktion {
  position: relative;
}
