@tailwind base;
@tailwind components;
@tailwind utilities;

.marktion {
  @apply rounded-md relative shadow-lg border px-6 pt-[48px];
}

.ProseMirror {
  --marktion-black: rgb(0 0 0);
  --marktion-white: rgb(255 255 255);
  
  @apply prose relative dark:prose-invert max-w-none outline-none pb-12 first:mt-[20px];
}

.dark .ProseMirror {
  --marktion-black: rgb(255 255 255);
  --marktion-white: rgb(25 25 25);
}

/* Custom TODO list checkboxes – shoutout to this awesome tutorial: https://github.com/steven-tey/novel/blob/main/styles/prosemirror.css */
.ProseMirror ul[data-type="taskList"] {
  padding-left: 0;
}

.ProseMirror ul[data-type="taskList"] li > label {
  margin-right: 0.2rem;
  user-select: none;
}

@media screen and (max-width: 768px) {
  ul[data-type="taskList"] li > label {
    margin-right: 0.5rem;
  }
}

ul[data-type="taskList"] li > label input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--marktion-white);
  margin: 0;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 5px;
  border: 2px solid var(--marktion-black);
  margin-right: 0.3rem;
  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }
}

ul[data-type="taskList"] li[data-checked="true"] > div > p {
  color: var(--marktion-black);
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.ProseMirror .code-block {
  position: relative;
}

.ProseMirror .code-block .code-block-lang-select {
  position: absolute;
  top: -32px;
  right: 0;
}